SECRET_KEY=''

MYSQL_SERVER=localhost
MYSQL_DATABASE=your_database
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_PORT=3306

# Senha do Super User
PASSWORD_SUPER_USER=""

# TOTVS
SQLSERVE_HOST_DB=host
SQLSERVE_NAME_DB=db_name
SQLSERVE_USER_DB=db_user
SQLSERVE_PASSWORD_DB=db_password
ACCEPT_EULA=Y
MSSQL_PID=Standard

# Background job
SCHEDULER_ACTIVE=TRUE_or_FALSE

# E-mail
EMAIL_PASSWORD_SOLUTIS_365=email_password
