[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
psycopg2-binary = "*"
whitenoise = "*"
pillow = "*"
django-filter = "*"
pyjwt = "*"
django-extensions = "*"
python-dateutil = "*"
drf-yasg = "*"
certifi = "*"
django-rest-knox = "*"
django = "==3.2"
python-dotenv = "*"
django-role-permissions = "*"

[dev-packages]
black = "*"
pre-commit = "*"
click = "*"
certifi = "*"
invoke = "*"

[requires]
python_version = "3.9"
