<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Nova Conta</title>
    </head>
    <body>
        <p>Prezado(a) <b>{{ full_name }}</b>,</p><br>
        <br>
        <p>Gostaríamos de informar que há uma {{ type }} de {{ asset_type }} pendente em seu nome.</p><br>
        <br>
        <p>Segue abaixo link de acesso do ativo:</p><br>
        <br>
        <ul>
            <li><a href="https://agile.solutis.net.br/lendings/assets/edit/{{ id }}">https://agile.solutis.net.br/lendings/assets/edit/{{ id }}</a></li>
        </ul><br>
        <br>
        <p>É fundamental manter suas credenciais seguras. Mantenha essas informações em um local restrito para garantir o acesso contínuo ao sistema.</p>
        <p>Se tiver alguma dúvida ou precisar de assistência, não hesite em nos contatar.</p><br>
        <p>Atenciosamente,</p><br>
        <p>Administrativo</p><br>
        <p>Solutis Tecnologias Ltda</p><br>
    </body>
</html>
