<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Inventário</title>
    </head>
    <body>
        <p>Prezado(a) <b>{{ full_name }}</b>,</p><br>
        <br>
        <p>Gostaríamos de informar que o invetário anual foi liberado.</p><br>
        <br>
        <p>Acesse com o link abaixo.</p><br>
        <br>
        <a href="{{ inventory_link }}">{{ inventory_link }}</a><br>
        <br>
        <p>Se tiver alguma dúvida ou precisar de assistência, não hesite em nos contatar.</p><br>
        <p>Atenciosamente,</p><br>
        <p>Administrativo</p><br>
        <p>Solutis Tecnologias Ltda</p><br>
    </body>
</html>
