<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Nova Senha</title>
    </head>
    <body>
        <p>Prezado(a) <b>{{ full_name }}</b>,</p><br>
        <br>
        <br>
        <p>Gostaríamos de informar que uma nova senha foi gerada com sucesso para sua conta no Solutis Ágile.</p><br>
        <br>
        <br>
        <p>Segue abaixo suas novas informações de acesso:</p><br>
        <br>
        <ul>
            <li>Nome de Usuário: {{ username }}</li>
            <li>Nova Senha: {{ new_password }}</li>
        </ul><br>
        <br>
        <br>
        <p>É fundamental manter suas credenciais seguras. Mantenha essas informações em um local restrito para garantir o acesso contínuo ao sistema.</p>
        <p>Se tiver alguma dúvida ou precisar de assistência, não hesite em nos contatar.</p><br>
        <br>
        <p>Atenciosamente,</p><br>
        <br>
        <p>Administrativo</p><br>
        <p>Solutis Tecnologias Ltda</p><br>
    </body>
</html>
