<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Nova Senha</title>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            .spaced-paragraph {
                margin-bottom: 16px;
            }
            ul {
                margin-bottom: 16px;
            }
        </style>
    </head>
    <body>
        <p class="spaced-paragraph">Prezado(a) <b>{{ full_name }}</b>,</p>
        <p class="spaced-paragraph">Gostaríamos de informar que uma nova senha foi gerada com sucesso para sua conta no Solutis Ágile.</p>
        <p class="spaced-paragraph">Segue abaixo suas novas informações de acesso:</p>
        <ul>
            <li>Nome de Usuário: {{ username }}</li>
        </ul>
        <p class="spaced-paragraph">Para redefinir sua senha com segurança, por favor utilize o link abaixo:</p>
        <p class="spaced-paragraph"><a href="{{ reset_link }}">Redefinir Senha</a></p>
        <p class="spaced-paragraph">Se você não solicitou a redefinição de senha, por favor ignore este e-mail.</p>
        <p class="spaced-paragraph">Se tiver alguma dúvida ou precisar de assistência, não hesite em nos contatar.</p>
        <p class="spaced-paragraph">Atenciosamente,</p>
        <p class="spaced-paragraph">Administrativo</p>
        <p class="spaced-paragraph">Solutis Tecnologias Ltda</p>
    </body>
</html>
